<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/logout">Log out</a>
            </li>
        </ul>
    </nav>
    <h1>Hello, [[${principalTheAndroid}]] you are visiting, [[${usernameWeAreVisiting}]]'s profile !</h1>
    <img src="/images/user-icon-image-placeholder.jpg">
<!--THIS IS MY REFERENCE OF WHAT A PROFILE SHOULD DISPLAY-->
<!--<form action = "/signup" method="POST">-->
<!--    Name <input type="username" name="username">-->
<!--    Password <input type="password" name="password">-->
<!--    First Name <input type="text" name="firstName">-->
<!--    Last Name <input type="text" name="lastName">-->
<!--    DOB <input type="date" name="dayOfBirth">-->
<!--    Bio <input type="text" name="bio">-->
<!--    <input type="submit">-->
<!--</form>-->

</body>
</html>