<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/logout">Log out</a>
            </li>
        </ul>
    </nav>

    <h1>Hi! [[${user.firstName}]]</h1>

    <form action="/post" method="POST">
        <h2>What are you thinking today?</h2>
        Post: <textarea type="text" name="body"></textarea>
        <input type="submit" value="Submit">
    </form>

    <ul th:each="post : ${user.posts}">
        <li>
            <span th:text="${post.body}"></span>
            <span th:text="${post.timeStamp}"></span>

        </li>
    </ul>
</body>
</html>