<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/logout">Log out</a>
            </li>
        </ul>
    </nav>
    <h1>Hello, [[${principalName}]] you are visiting, [[${usernameWeAreVisiting.username}]]'s profile !</h1>

    <h2>What are you thinking today?</h2>

    <img src="/images/user-icon-image-placeholder.jpg">



</body>
</html>